@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;
    --typewriterspeed:4s;

    /*========== Colors ==========*/
    
    --hue-color: 172 ; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color),89%,37%);
    --first-color-second:hsl(var(--hue-color),69%,61%); 
    --first-color-alt: hsl(var(--hue-color),57%,53%);
    --first-color-lighter: hsl(var(--hue-color),92%,85%);
    --title-color: hsl(var(--hue-color),8%,15%);
    --text-color: hsl(var(--hue-color),8%,45%);
    --text-color-light:hsl(var(--hue-color),69%,65%); 
    --input-color: hsl(var(--hue-color),70%,96%);
    --body-color: hsl(var(--hue-color),60%,99%);
    --container-color:#fff ;
    --scroll-bar-color: hsl(var(--hue-color),12%,90%);
    --scroll-thumb-color: hsl(var(--hue-color),12%,80%);
  

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.124rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size:3rem ;
        --h1-font-size: 2.2rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/*========== Variables Dark theme ==========*/
body.dark-theme{

    --first-color-second:hsl(var(--hue-color),30%,8%); 
    --title-color: hsl(var(--hue-color),8%,95%);
    --text-color: hsl(var(--hue-color),8%,75%);  
    --input-color: hsl(var(--hue-color),29%,16%);
    --body-color: hsl(var(--hue-color),28%,12%);
    --container-color:hsl(var(--hue-color),29%,16%) ;
    --background-img-color:hsl(var(--hue-color),92%,85%);
    --scroll-bar-color: hsl(var(--hue-color),12%,48%);
    --scroll-thumb-color: hsl(var(--hue-color),12%,36%);
}

/*========== Button Dark/Light ==========*/
.nav__btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}
.change-theme:hover{
    color:var(--first-color);
}
/*==================== BASE ====================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;

}

h1,h2,h3,h4{
    color:var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}
body{

  /* width and height so it can scroll to the beg of it */
  width: 100vw;
  height: 100vh;
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
  overflow-y: hidden;
  text-rendering: optimizeLegibility !important;
 -webkit-font-smoothing: antialiased !important;

}
  .max-width{
    max-width: 75vw;
    padding: 0 80px;
    margin: auto;
    
  }


/*==================== REUSABLE CSS CLASSES ====================*/
.portfolio{
    padding: 20vh 0 40vh;
}

.section{
    padding: 5vh 0 40vh 0;
    
}
/* .scroller {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-destination: 0 0;
    scroll-snap-type: y proximity;
    scroll-snap-type: proximity;
}

.scroller .test {
    scroll-snap-align: start;
} */

.section__title{
    font-size: var(--h1-font-size);
}

.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}
.section__title,
.section__subtitle{
    text-align: center;
}
/*==================== LAYOUT ====================*/
.container{
    max-width: 900px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap:1.5rem;
}


.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    opacity: 0;
    transform: translateY(3rem);
    animation: showupheader 2s ease calc(var(--typewriterspeed) + 4.5s) forwards;
}
@keyframes showupheader{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


/*==================== NAV ====================*/
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover{
    color: var(--first-color);
}

.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover{
    color: var(--first-color);
}

.change__color{
    color:var(--first-color)
}

.contact{
    padding: 2rem 0 5rem;
}
@media screen and (min-width: 568px){}
.project__data {
    position: relative;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        bottom: -100vh;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s ease;
    }
}

.nav__list{
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__icon{
    font-size: 1.2rem;
}

.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor:pointer;
    
}

.nav__close:hover{
    color: var(--first-color-alt);
}


/* show menu */
.show-menu{
    bottom: 0;
    }


/* Active link */

.active-link{
    color: var(--first-color);
}
/* Change background header */

.scroll-header{
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
}

/*==================== INTRO  ====================*/
/* .title__container{
    padding-top: calc((50vh));
} */

.hello__intro{
    padding-top: 50vh !important;
    padding-bottom: 30vh;
    display: grid;
    place-content: center;
    text-align: center;
    transform:translate(0, -10%);
    /* animation: displayIntro 0.1ms ease-out calc(var(--typewriterspeed) + 5.5s) forwards; */
}

 /* @keyframes displayIntro {
    to{   
        visibility: hidden; 
        position: absolute; 
        transform: translate(0,0);  
    }
}  */
.title__container h1 span{
     color:var(--first-color);
}

.title__container h1{
    font-family: "sans-serif",monospace;
    position: relative;
    width: max-content;
    color: var(--title-color);

}



.title__container h1::before,
.title__container h1::after{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
   
}

.title__container h1::before{
    background: var(--body-color);
    animation: typewriter var(--typewriterspeed) steps(24) 1s forwards;
}

.title__container h1::after{
    width: 0.125em;
    background: var(--title-color);
    animation: 
        typewriter var(--typewriterspeed) steps(24) 1s forwards,
        blink 750ms steps(24) infinite;
}

.intro__subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-top:var(--mb-1-5) ;
    margin-bottom: var(--mb-0-75);
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterspeed) + 2s)forwards;
}
                    /* <<<=====scroll to snap=====>>>> */


.countdownScroll{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
@keyframes typewriter{
    to{
        left: 100%;
    }
}

@keyframes blink{
    to{
        background: transparent;
    }
}

@keyframes fadeInUp{
    to{
        opacity:1;
        transform:translatey(0);
    }
}
/*==================== HOME ====================*/
.home__container{
    gap: 1.5rem;
}




.home__content{
    grid-template-columns: .5fr 3fr;
    padding-top: 20vh;
    align-items: center;
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
}

.home__social-icon:hover{
    color: var(--first-color-alt);
}

.home__blob{
    width: 200px;
    fill: var(--first-color);
}

.home__blob-img{
    width: 150px;
}


.home__data{
    grid-column: 1/3;
}

.home__title{
    font-size: var(--big-font-size);
}
.home__subtitle{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description{
    margin-bottom: var(--mb-2);
}

.home__scroll{
     display: none; 
}

.home__scroll-button{
    color: var(--first-color);
    transition: .3s ease;
}

.home__scroll-button:hover{
    transform: translateY(.25rem);
}

.home__scroll-mouse{
    font-size: 2rem;
}

.home__scroll-name{
    font: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow{
    font-size: 1.25rem;
}
/*==================== BUTTONS ====================*/

.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    outline: none;
    border: none;
}

.sendbutton{
    font-family: var(--body-font);
    font-size: var(--font-medium);
    font-style: none;
}
.button:hover{
    background-color: var(--first-color-alt);
}

.button__icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s ease;
}

.button--white{
    background-color: #FFF;
    color: var(--first-color);
}

.button--white:hover{
    background-color: #FFF;
}

.button--flex{
    display: inline-flex;
    align-items: center;
}
/*==================== ABOUT ====================*/
.change__color_hover{
    font-size: var(--font-semi-bold);
    font-weight: 600;
}
.change__color_hover:hover{
    color: var(--first-color);
    cursor: pointer;
}
.about{
    padding: 20vh 0 40vh 0;
}
.about__svg{
    border-radius: 5rem;
    background-color: var(--background-img-color);
}

.about__img{
    width: 450px;
    justify-self: center;
    align-self: center;
}

.about__description{
    text-align:justify;
    margin-bottom: var(--mb-0-25);
}


/*==================== SKILLS ====================*/

.skill__ini{
    font-size: var(--smaller-font-size);
}
.skills__svg{
    width: 250px;
    border-radius: 5rem;
    background-color: var(--background-img-color);
}

.skills__img{
    text-align: center;
    padding-bottom: 2vh;
}
.skills__container{
    row-gap: 0;
}

.skills__header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:var(--mb-2-5);
    cursor: pointer;
}

.skills__icon,
.skills__arrow{
    font-size: 2rem;
    color: var(--first-color);
}

.skills__icon{
    margin-right: var(--mb-2);
}

.skills__title{
    font-size: var(--h3-font-size);
    text-align: center;
}

.skills__arrow{
   margin-left: var(--mb-2);
    transition: .4s;
}

.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
}

.skills_list{
    row-gap: 1.5rem;
    justify-content: center;
    text-align: center;
}

.skills__close .skills_list{
    height: 0;
    overflow: hidden;
     transition: .3s ease;
}

.skills__open .skills_list{
    height: max-content;
    margin-bottom: var(--mb-2-5);
     transition: .3s ease;

}

.skills__open .skills__arrow{
    transform: rotate(-180deg);
}



.mysql{
    position: relative;
    transform: translateY(-1.3rem);
}

.logos{
    width: 3rem;
    height: 3rem;
}



/*==================== PORTFOLIO ====================*/
.portfolio__container{
    overflow: initial;
}

.portfolio__content{
    padding: 0 1.5rem;
}
 
.portfolio__img{
    width: 365px;
    border-radius: .5rem;
    justify-self: center;
}

.portfolio__title{
    font-size: var(--h3-font-size);
    text-align: center;
    margin-bottom: var(--mb-0-5);
}

.portfolio__description{
    margin-bottom: var(--mb-0-75);
    text-align: justify;
   
}

.portfolio__button:hover .button__icon{
    transform: translateX(.25rem);
}  

.swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: .1rem !important;
}
.swiper-pagination-bullet-active{
    background-color: var(--first-color) !important;
}

.swiper-pagination-bullet{
    outline: none;
}

/*==================== PROJECT  ====================*/

.project{
    text-align: center;
    padding-top:5vh ;
}

.project__bg{
background-color: var(--background-img-color);
padding-top: 3rem;
}

.project__title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
    color: #FFF;
    top: 2.5rem;
    right: 2.5rem;

    text-align: center;
}

.project__img{
    width: 235px;
    justify-self: center;
    align-self: center;
}

/*==================== CONTACT ME ====================*/
.contact__container{
    row-gap: 3rem;
}

.contact__information{
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact__icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}
/*==================== FOOTER ====================*/
.contact__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.contact__content{
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}
.contact__label{
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}
.contact__input{
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border:none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

.footer{
    padding-top: 2rem;
}

.footer__container{
    row-gap: 3.5rem;
}

.footer__bg{
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
}

.footer__title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer__subtitle{
    font-size: var(--small-font-size);
}

.footer__link{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer__link:hover{
    color:var(--first-color-lighter);
}

.footer__social{
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.footer__social:hover{
    color:var(--first-color-lighter);
}

.footer__copy{
    font-size: var(--small-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3);
}
.footer__title,
.footer__subtitle,
.footer__link,
.footer__social,
.footer__copy{
    color: #FFF;
}
/*========== SCROLL UP ==========*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: .8;
    padding:0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover{
    background-color: var(--first-color-alt);
}

.scrollup__icon{
    font-size: 1.5rem;
    color: #FFF;
}

/* Show scroll */

.show-scroll{
    bottom: 5rem;
}
/*========== SCROLL BAR ==========*/

::-webkit-scrollbar{
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}


::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-color-light);
}


/*==================== modal wow ====================*/
.modal-wrap{
  position: relative!important;
  display: block;
  width: 100%;
  max-width: 400px!important;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px !important;
  
  padding: 0 0 1rem!important;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199,175,189,.25)!important;
  
  transform: scale(0.8);
  transition: opacity 250ms 250ms ease, transform 300ms 250ms ease
}


.modal-wrap img {
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
}

.modal_text{
    text-align: center;
    font-family: var(--body-font);
    color: var(--title-color);
    font-weight: var(--font-medium);
    color: var(--text-color);
}

.wow{
    display: none;
}
/*==================== MEDIA QUERIES ====================*/
/* For small devices */

@media screen and (max-width:350px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav__menu{
        padding: 2rem .25rem 4rem;
    }

    .nav__list{
        column-gap: 0;
    }

    .home__content{
        grid-template-columns:  .24fr 3fr;
    }

    .home__blob{
        width: 180px;
    }

    .skills__title{
        font-size: var(--normal-font-size);
    }

    .project__data{
       
        position: relative;
        justify-content: center;
        align-content: center;
    }

    .contact{
        padding: 2rem 0 5rem;
    }

}
/* For medium devices */

@media screen and (min-width: 568px){
    .home__content{
        grid-template-columns: max-content 1fr 1fr;
        padding-top: 20vh;
    }

    .home__data{
        grid-column: initial;
    }

    .home__img{
        order: 1;
        justify-self:center ;
    }

     .project__data{
       
        position: relative;
        justify-content: center;
        align-content: center;
    }
    
    .about__container,
    .title__container,
    .skills__container,
    .portfolio__content,
    .project__container,
    .contact__container,
    .footer__container{
        grid-template-columns: repeat(2,1fr);
    }
    
    .contact{
        padding: 2rem 0 5rem;
    }

}


@media  screen and (min-width:786px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    body{
        margin:0;
        
    }

    .section{
       padding: 5vh 0 30vh 0;
    }

   
    
    .about{
        padding: 20vh 0 40vh 0;
    }

    .skills{
         padding: 6vh 0 40vh 0;
    }
    .section__subtitle{
        margin-bottom: 4rem;
    }
    .header{
        top:0;
        bottom: initial;
    }

    .header,
    .main,
    .footer__container{
        padding: 0;
    }

    .nav{
        height: calc(--header-height) + 1.5rem;
        column-gap: 1rem;
    }

    .nav_icon,
    .nav__close,
    .nav__toggle{
        display: none;
    }

    .nav__list{
        display: flex;
        column-gap: 2rem;
    }

    .nav__menu{
        margin-left: auto;
    }

    .change-theme{
        margin: 0;
    }

    .home__container{
        row-gap: 5rem;
    }

    .home__blob{
        width: 270px;
    }
    .home__scroll{
        display: block;
    }
    .home__scroll-button{
        margin-left: 3rem;
    }

    .about__container{
        width: 100%;
        column-gap: 5rem;
    }


    .about__description{
         text-align: justify;

    }
    
    .about__buttons{
        justify-content: center;
        text-align: center;
    }

    .portfolio__img{
        width: 320px;
    }

    .portfolio__content{
        align-items: center;
    }

    .project{
        text-align: justify;
        padding-top: 5vh;
    }

    .project__bg{
        background: none;
    }
    .project__container{
        background-color:var(--first-color-second);
        border-radius: 1rem;
        padding: 3rem 2.5rem 0;
        grid-template-columns: 1fr max-content;
        column-gap: 3rem;
    }

    .project__data{
        padding-top: .8rem;
        position: relative;
        justify-content: center;
        align-content: center;
    }

    .footer__container{
        grid-template-columns: repeat(3,1fr);
    }
    .footer__bg{
        padding:3rem 0 3.5rem;
    }

    .footer__links{
        flex-direction: row;
        column-gap: 2rem;
    }
    .footer__socials{
        justify-self: flex-end;
    }
    .footer__copy{
        margin-top: 4.5rem;
    }

    .contact{
        padding: 2rem 0 5rem;
    }

}

/* For large devices */
@media screen and (min-width:1024px){
    .header,
    .main,
    .footer{
        padding: 0;
    }
    .home{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .home__blob{
        width: 320px;
    }

    .home_social{
        transform: translateX(-6rem);
    }

    .portfolio__content{
        column-gap: 5rem;
    }
   

    .contact__form{
        width: 460px;
    }
    .contact__inputs{
        grid-template-columns: repeat(2,1fr);
    }

    .contact{
        padding: 2rem 0 5rem;
    }
    .skills__container{
        grid-template-columns: repeat(3,1fr);
    }
}
 /* cursor */
.cursor,
.cursor2,
.cursor3{
	position: fixed;
	border-radius: 50%;	
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%;
	mix-blend-mode: screen;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
	z-index: 9999999;
}
.cursor{
	background-color: var(--body-color);
	height: 0;
	width: 0;
	z-index: 9999999;
}
.cursor2,.cursor3{
	height: 36px;
	width: 36px;
	z-index:99998;
	-webkit-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
	-webkit-transform:scale(2) translateX(-25%) translateY(-25%);
	transform:scale(2) translateX(-25%) translateY(-25%);
	border:none
}
.cursor2{
	border: 2px solid var(--first-color);
	box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}
.cursor2.hover{
	background: var(--first-color-second);
	box-shadow: 0 0 0 rgba(255, 255, 255, 0.2);
}


